<section id="skills">
  <div class="content-width">
    <article class="skills-text-box">
      <p>{{ 'skills.technologies' | translate }}</p>
      <article>
        <h2>{{ 'skills.h2' | translate }}</h2>
        <p>{{ 'skills.pdescription' | translate }}</p>
        <article>
          <h3>{{ 'skills.needAnother' | translate }} <span>{{ 'skills.anotherSkill' | translate }}</span></h3>
          <p>{{ 'skills.contactMe' | translate }}</p>
        </article>
        <a [routerLink]="['/']" [fragment]="'contact-me'" class="link-button animated" [attr.data-text]="'skills.letsTalk' | translate">
          <span>{{ 'skills.letsTalk' | translate }}</span>
        </a>
      </article>
    </article>

    <article class="skills-img-box">
      <figure>
        <img src="assets/img/3-skills/html-icon.svg" alt="HTML Icon">
        <figcaption>HTML</figcaption>
      </figure>
      <figure>
        <img src="assets/img/3-skills/css-icon.svg" alt="CSS Icon">
        <figcaption>CSS</figcaption>
      </figure>
      <figure>
        <img src="assets/img/3-skills/javascript-icon.svg" alt="Javascript Icon">
        <figcaption>Javascript</figcaption>
      </figure>
      <figure>
        <img src="assets/img/3-skills/material-design-icon.svg" alt="Material Design Icon">
        <figcaption>Material Design</figcaption>
      </figure>
      <figure>
        <img src="assets/img/3-skills/typescript-icon.svg" alt="Typescript Icon">
        <figcaption>Typescript</figcaption>
      </figure>
      <figure>
        <img src="assets/img/3-skills/angular-icon.svg" alt="Angular Icon">
        <figcaption>Angular</figcaption>
      </figure>
      <figure>
        <img src="assets/img/3-skills/firebase-icon.svg" alt="Firebase Icon">
        <figcaption>Firebase</figcaption>
      </figure>
      <figure>
        <img src="assets/img/3-skills/git-icon.svg" alt="Git Icon">
        <figcaption>GIT</figcaption>
      </figure>
      <figure>
        <img src="assets/img/3-skills/rest-api-icon.svg" alt="REST API Icon">
        <figcaption>REST-API</figcaption>
      </figure>
      <figure>
        <img src="assets/img/3-skills/scrum-icon.svg" alt="SCRUM Icon">
        <figcaption>SCRUM</figcaption>
      </figure>
      <figure class="figure-container" (mouseover)="onMouseOver()" (mouseleave)="onMouseLeave()">
        <img [src]="currentImage" alt="{{ 'skills.growthMindsetAlt' | translate }}">
        <figcaption class="figcaption">{{ 'skills.growthMindset' | translate }}</figcaption>
        <div class="tooltip">
          <p>{{ 'skills.specialInterest' | translate }}</p>
          <div>
            <img src="assets/img/3-skills/react-and-vuejs-icon.svg" alt="" width="20" height="20">
          </div>
        </div>
      </figure>
    </article>
  </div>
</section>
