<section id="skills">
  <div class="content-width">
    <article class="skills-text-box">
      <p>Technologies</p>
      <article>
        <h2>Skill Set</h2>
        <p>A short introduction of your skills. Highlight your experience of  using different front-end technologies and emphasise your openness to learning and adapting to new technologies. Show how important it is for you to keep up with the rapid changes in web development.</p>
        <article>
          <h3>You need <span>another skill?</span></h3>
          <p>Feel free to contact me. I look forward to expanding on my previous knowledge.</p>
        </article>
        <a href="#contact-me" class="link-button animated" data-text="Let's talk">
          <span>Let's talk</span>
        </a>
      </article>
    </article>

    <article class="skills-img-box">
      <figure>
        <img src="assets/img/3-skills/html-icon.svg" alt="HTML Icon">
        <figcaption>HTML</figcaption>
      </figure>
      <figure>
        <img src="assets/img/3-skills/css-icon.svg" alt="CSS Icon">
        <figcaption>CSS</figcaption>
      </figure>
      <figure>
        <img src="assets/img/3-skills/javascript-icon.svg" alt="Javascript Icon">
        <figcaption>Javascript</figcaption>
      </figure>
      <figure>
        <img src="assets/img/3-skills/material-design-icon.svg" alt="Material Design Icon">
        <figcaption>Material Design</figcaption>
      </figure>
      <figure>
        <img src="assets/img/3-skills/typescript-icon.svg" alt="Typescript Icon">
        <figcaption>Typescript</figcaption>
      </figure>
      <figure>
        <img src="assets/img/3-skills/angular-icon.svg" alt="Angular Icon">
        <figcaption>Angular</figcaption>
      </figure>
      <figure>
        <img src="assets/img/3-skills/firebase-icon.svg" alt="Firebase Icon">
        <figcaption>Firebase</figcaption>
      </figure>
      <figure>
        <img src="assets/img/3-skills/git-icon.svg" alt="Git Icon">
        <figcaption>GIT</figcaption>
      </figure>
      <figure>
        <img src="assets/img/3-skills/rest-api-icon.svg" alt="REST API Icon">
        <figcaption>REST-API</figcaption>
      </figure>
      <figure>
        <img src="assets/img/3-skills/scrum-icon.svg" alt="SCRUM Icon">
        <figcaption>SCRUM</figcaption>
      </figure>
      <figure class="figure-container" (mouseover)="onMouseOver()" (mouseleave)="onMouseLeave()">
        <img [src]="currentImage" alt="Growth Mindset Icon">
        <figcaption class="figcaption">Growth Mindset</figcaption>
        <div class="tooltip">
          <p>I have a special interest in learning</p>
          <div>
            <img src="assets/img/3-skills/react-and-vuejs-icon.svg" alt="" width="20" height="20">
          </div>
        </div>
      </figure>
    </article>
  </div>
</section>
