@import '../../../styles/styles.scss';

#contact-me {
  padding: 120px 0;
}

.content-width {
  display: flex;
  article {
    flex: 1 1 50%;
    text-align: left;
    padding-right: 112px;
    >h3 {
      font-family: 'Karla';
      font-size: 24px;
      color: $primary-green;
    }
    >h2 {
      font-family: 'Fira Code';
      font-size: 64px;
      color: $primary-green;
      line-height: 1em;
      margin: 20px 0 40px 0;
    }
    >h4 {
      font-family: 'Fira Code';
      font-size: 24px;
      color: $primary-green;
    }
    p {
      font-family: 'Karla';
      font-size: 16px;
      margin: 16px 0;
      span {
        color: $primary-green;
        font-weight: 700;
      }
    }
  }
  app-contact-form {
    flex: 1 1 50%;
  }
}

/* Media Queries */
@media (max-width: 1440px) {
  .content-width {
    flex-direction: column;
  }
}

@media (max-width: 1200px) {

}

@media (max-width: 768px) {
  .content-width {
    word-break: break-all;
    article {
      padding-right: 0;
      >h3 {
        font-size: 18px;
      }
      >h2 {
        font-size: 40px;
        line-height: 1em;
      }
      >h4 {
        font-size: 18px;
      }
    }
  }
}

@media (max-width: 320px) {
  .content-width {
    article {
      padding-right: 0;
    }
  }
}
