/* fira-code-regular - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/fira-code/fira-code-v22-latin_latin-ext-regular.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/fira-code/fira-code-v22-latin_latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/fira-code/fira-code-v22-latin_latin-ext-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../assets/fonts/fira-code/fira-code-v22-latin_latin-ext-regular.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('../assets/fonts/fira-code/fira-code-v22-latin_latin-ext-regular.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('../assets/fonts/fira-code/fira-code-v22-latin_latin-ext-regular.svg#FiraCode') format('svg'); /* Legacy iOS */
}
/* fira-code-500 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/fira-code/fira-code-v22-latin_latin-ext-500.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/fira-code/fira-code-v22-latin_latin-ext-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/fira-code/fira-code-v22-latin_latin-ext-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../assets/fonts/fira-code/fira-code-v22-latin_latin-ext-500.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('../assets/fonts/fira-code/fira-code-v22-latin_latin-ext-500.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('../assets/fonts/fira-code/fira-code-v22-latin_latin-ext-500.svg#FiraCode') format('svg'); /* Legacy iOS */
}
/* fira-code-600 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/fira-code/fira-code-v22-latin_latin-ext-600.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/fira-code/fira-code-v22-latin_latin-ext-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/fira-code/fira-code-v22-latin_latin-ext-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../assets/fonts/fira-code/fira-code-v22-latin_latin-ext-600.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('../assets/fonts/fira-code/fira-code-v22-latin_latin-ext-600.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('../assets/fonts/fira-code/fira-code-v22-latin_latin-ext-600.svg#FiraCode') format('svg'); /* Legacy iOS */
}
/* fira-code-700 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/fira-code/fira-code-v22-latin_latin-ext-700.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/fira-code/fira-code-v22-latin_latin-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/fira-code/fira-code-v22-latin_latin-ext-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../assets/fonts/fira-code/fira-code-v22-latin_latin-ext-700.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('../assets/fonts/fira-code/fira-code-v22-latin_latin-ext-700.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('../assets/fonts/fira-code/fira-code-v22-latin_latin-ext-700.svg#FiraCode') format('svg'); /* Legacy iOS */
}


/* karla-200 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Karla';
  font-style: normal;
  font-weight: 200;
  src: url('../assets/fonts/karla/karla-v31-latin_latin-ext-200.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/karla/karla-v31-latin_latin-ext-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/karla/karla-v31-latin_latin-ext-200.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../assets/fonts/karla/karla-v31-latin_latin-ext-200.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('../assets/fonts/karla/karla-v31-latin_latin-ext-200.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('../assets/fonts/karla/karla-v31-latin_latin-ext-200.svg#Karla') format('svg'); /* Legacy iOS */
}
/* karla-300 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Karla';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/karla/karla-v31-latin_latin-ext-300.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/karla/karla-v31-latin_latin-ext-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/karla/karla-v31-latin_latin-ext-300.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../assets/fonts/karla/karla-v31-latin_latin-ext-300.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('../assets/fonts/karla/karla-v31-latin_latin-ext-300.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('../assets/fonts/karla/karla-v31-latin_latin-ext-300.svg#Karla') format('svg'); /* Legacy iOS */
}
/* karla-regular - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/karla/karla-v31-latin_latin-ext-regular.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/karla/karla-v31-latin_latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/karla/karla-v31-latin_latin-ext-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../assets/fonts/karla/karla-v31-latin_latin-ext-regular.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('../assets/fonts/karla/karla-v31-latin_latin-ext-regular.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('../assets/fonts/karla/karla-v31-latin_latin-ext-regular.svg#Karla') format('svg'); /* Legacy iOS */
}
/* karla-500 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/karla/karla-v31-latin_latin-ext-500.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/karla/karla-v31-latin_latin-ext-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/karla/karla-v31-latin_latin-ext-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../assets/fonts/karla/karla-v31-latin_latin-ext-500.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('../assets/fonts/karla/karla-v31-latin_latin-ext-500.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('../assets/fonts/karla/karla-v31-latin_latin-ext-500.svg#Karla') format('svg'); /* Legacy iOS */
}
/* karla-600 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Karla';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/karla/karla-v31-latin_latin-ext-600.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/karla/karla-v31-latin_latin-ext-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/karla/karla-v31-latin_latin-ext-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../assets/fonts/karla/karla-v31-latin_latin-ext-600.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('../assets/fonts/karla/karla-v31-latin_latin-ext-600.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('../assets/fonts/karla/karla-v31-latin_latin-ext-600.svg#Karla') format('svg'); /* Legacy iOS */
}
/* karla-700 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/karla/karla-v31-latin_latin-ext-700.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/karla/karla-v31-latin_latin-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/karla/karla-v31-latin_latin-ext-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../assets/fonts/karla/karla-v31-latin_latin-ext-700.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('../assets/fonts/karla/karla-v31-latin_latin-ext-700.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('../assets/fonts/karla/karla-v31-latin_latin-ext-700.svg#Karla') format('svg'); /* Legacy iOS */
}
/* karla-800 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Karla';
  font-style: normal;
  font-weight: 800;
  src: url('../assets/fonts/karla/karla-v31-latin_latin-ext-800.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/karla/karla-v31-latin_latin-ext-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/karla/karla-v31-latin_latin-ext-800.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../assets/fonts/karla/karla-v31-latin_latin-ext-800.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('../assets/fonts/karla/karla-v31-latin_latin-ext-800.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('../assets/fonts/karla/karla-v31-latin_latin-ext-800.svg#Karla') format('svg'); /* Legacy iOS */
}
