<section id="about-me">
  <div class="content-width">

    <article class="about-img-box">
        <img src="assets/img/2-about-me/working.png" alt="">
    </article>

    <article class="about-me-text-box">
      <p>Who I am</p>
      <article>
        <h2>About me</h2>
        <p>Hey there, I'm Lukas! Write some information about yourself that is IT related. Why are you passionate about coding? What is your source of inspiration for improving your programming skills?</p>
        <article>
          <img src="assets/img/2-about-me/location-marker-icon.svg" alt="">
          <p>Where are you based? Would you be open to working remotely or potentially relocating?</p>
        </article>
        <article>
          <img src="assets/img/2-about-me/open-minded-icon.svg" alt="">
          <p>Show that you are open-minded. Are you enthusiastic about learning new technologies and continually improving your skills?</p>
        </article>
        <article>
          <img src="assets/img/2-about-me/prove-badge-icon.svg" alt="">
          <p>A brief description of your problem-solving approach. Do you learn from each challenge as you search for the most efficient or elegant solution? You can include some keywords like: analytical thinking, creativity, persistence and  collaboration.</p>
        </article>
      </article>
    </article>
  </div>
</section>
