<section id="about-me">
  <div class="content-width">
    <article class="about-img-box">
      <img [src]="imageUrl" alt="Working image">
    </article>

    <article class="about-me-text-box">
      <p>{{ headerText }}</p>
      <article>
        <h2>{{ title }}</h2>
        <p>{{ introduction }}</p>
                @for (item of infoItems; track item.title) {
          <article>
            <img [src]="item.icon" [alt]="item.title + ' icon'">
            <p>{{ item.description }}</p>
          </article>
        }
      </article>
    </article>
  </div>
</section>
