<section id="about-me">
  <div class="content-width">
    <article class="about-img-box">
      <img [src]="imageUrl" alt="{{ 'about.workingImageAlt' | translate }}">
    </article>

    <article class="about-me-text-box">
      <p>{{ 'about.headerText' | translate }}</p>
      <article>
        <h2>{{ 'about.title' | translate }}</h2>
        <p>{{ 'about.introduction' | translate }}</p>
        @for (item of infoItems; track item.title) {
          <article>
            <img [src]="item.icon" [alt]="('about.' + item.description + 'Title' | translate) + ' icon'">
            <p>{{ 'about.' + item.description + 'Description' | translate }}</p>
          </article>
        }
      </article>
    </article>
  </div>
</section>
