<footer>
  <div class="content-width">
    <div class="f-content1">
      <img src="assets/img/1-hero/logo.svg" alt="logo" class="footer-logo">
      <div>
        <p>Web Developer</p>
        <p>Güstrow Germany</p>
      </div>
    </div>
    <div class="f-content2">
      <p>&copy; Ha Dao <span>2025</span></p>
    </div>
    <div class="f-content3">
      <a href="https://github.com/ha-dao" target="_blank" class="link-hover-dot-left">Github</a>
      <a href="https://www.linkedin.com/in/ha-dao-814b40301/" target="_blank" class="link-hover-dot-left">LinkedIn</a>
      <a href="mailto:kontakt@ha-dao.de" class="link-hover-dot-left">E-Mail</a>
      <a href="" class="link-hover-dot-left">Legal Notice</a>
    </div>
  </div>
</footer>
