@import '../../../../styles/styles.scss';

footer {
  padding: 40px 0;

  .content-width {
    width: 100%;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .f-content1 {
    @include displayFlex($direction: column, $justify: flex-start, $align: flex-start, $gap: 24px);

    div {
      @include displayFlex($direction: column, $justify: flex-start, $align: flex-start, $gap: 8px);
    }
  }

  .f-content2 {
    p {
      color: $primary-green;
      text-align: center;
    }
  }

  .f-content3 {
    @include displayFlex($direction: column, $justify: flex-end, $align: flex-start, $gap: 8px);
  }
}

.footer-logo {
  width: auto;
  height: 50px;
}

/* Media Queries */
@media (max-width: 768px) {
  footer {
    .footer-container {
      flex-wrap: wrap;
      row-gap: 32px;
    }

    .f-content1 {
      width: 40%;
      order: 1;
    }

    .f-content3 {
      width: 40%;
      order: 2;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    .f-content2 {
      width: 100%;
      order: 3;

      p {
        text-align: center;
      }
    }
  }
}

@media (max-width: 480px) {
  footer {
    .f-content1 {
      text-align: left;
    }

    .f-content1, .f-content3 {
      width: 44%;
    }

    .f-content3 {
      margin-top: 16px;
    }

    .f-content2 {
      margin-top: 24px;

      p {
        text-align: center;
      }
    }
  }
}
