<div class="container">
  <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
    <div>
    <hr class="top-hr">
    <label for="name" class="basic-label">{{ 'contact.form.nameLabel' | translate }}
    <input #name="ngModel" [(ngModel)]="contactData.name" type="text" id="name" name="name"
           [placeholder]="(!name.valid && name.touched) ? ('contact.form.nameError' | translate) : ('contact.form.namePlaceholder' | translate)"
           [class.error-input]="!name.valid && name.touched"
           required>
    </label>
    <hr>
    <label for="email" class="basic-label">{{ 'contact.form.emailLabel' | translate }}
    <input #email="ngModel" [(ngModel)]="contactData.email" type="email" id="email" name="email"
           [placeholder]="(!email.valid && email.touched) ? ('contact.form.emailError' | translate) : ('contact.form.emailPlaceholder' | translate)"
           [class.error-input]="!email.valid && email.touched"
           required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
    </label>
    <hr>
    <label for="message" class="basic-label">{{ 'contact.form.messageLabel' | translate }}
    <textarea #message="ngModel" [(ngModel)]="contactData.message" id="message" name="message"
              [placeholder]="(!message.valid && message.touched) ? ('contact.form.messageError' | translate) : ('contact.form.messagePlaceholder' | translate)"
              [class.error-input]="!message.valid && message.touched"
              required rows="1" cols="50"></textarea>
    </label>
    <hr>
    <label class="checkbox-container" for="data-privacy-checkbox">
      <input (change)="checkboxChanged()" #privacypolicy="ngModel" [(ngModel)]="contactData.privacypolicy" type="checkbox" id="data-privacy-checkbox" name="privacypolicy" required>
      <div class="checkmark"></div>
      <span>{{ 'contact.form.privacyPolicyText' | translate }} <a [routerLink]="'/privacy-policy'" class="privacy-policy-link">{{ 'contact.form.privacyPolicyLink' | translate }}</a> {{ 'contact.form.privacyPolicyAgree' | translate }}</span>
    </label>
    <p>
      @if ((privacypolicy.invalid && (privacypolicy.dirty || privacypolicy.touched)) || checkboxWasCheckedBefore && !contactData.privacypolicy) {
        <span class="alert-text">{{ 'contact.form.privacyRequired' | translate }}</span>
      }
    </p>
    </div>
    <input type="submit" [value]="'contact.form.submitButton' | translate" [disabled]="!contactForm.form.valid">
  </form>
</div>
