<div class="contact-form-container">
  <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" spellcheck="false">
    <div>
    <hr class="top-hr">
    <label for="name" class="basic-label">{{ 'contact.form.nameLabel' | translate }}
    <input #name="ngModel" [(ngModel)]="contactData.name" type="text" id="name" name="name"
           [placeholder]="(!name.valid && name.touched) ? ('contact.form.nameError' | translate) : ('contact.form.namePlaceholder' | translate)"
           [class.error-input]="!name.valid && name.touched"
           required>
    </label>
    <hr>
    <label for="email" class="basic-label">{{ 'contact.form.emailLabel' | translate }}
    <div class="input-container">
      <input #email="ngModel" [(ngModel)]="contactData.email" type="email" id="email" name="email"
             [placeholder]="(!email.valid && email.touched) ? ('contact.form.emailError' | translate) : ('contact.form.emailPlaceholder' | translate)"
             [class.error-input]="!email.valid && email.touched"
             required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
             @if (!email.valid && email.touched && contactData.email.length > 0) {
              <div class="tooltip-container visible">
                <div class="tooltip">
                  @if (!contactData.email.includes('@')) {
                    <span>{{ 'contact.form.emailTooltip.missingAt' | translate }} <span class="highlight">"&#64;"</span> {{ 'contact.form.emailTooltip.example' | translate }} <span class="highlight">info&#64;gmail.com</span>&#41;</span>
                  } @else if (contactData.email.split('@').length > 1 && contactData.email.split('@')[1].length >= 2 && !contactData.email.includes('.', contactData.email.indexOf('@'))) {
                    <span>{{ 'contact.form.emailTooltip.needTLD' | translate }} <span class="highlight">{{ 'contact.form.emailTooltip.missingDot' | translate }}</span> {{ 'contact.form.emailTooltip.tldExample' | translate }} <span class="highlight">.de</span>, <span class="highlight">.com</span>&#41;</span>
                  } @else if (!contactData.email.includes('.', contactData.email.indexOf('@'))) {
                    <span>{{ 'contact.form.emailTooltip.missingProvider' | translate }} <span class="highlight">gmail</span>, <span class="highlight">gmx</span> {{ 'contact.form.emailTooltip.afterAt' | translate }}</span>
                  } @else if (contactData.email.includes('.') && contactData.email.split('.').length > 0 && (contactData.email.split('.').pop() || '').length < 2) {
                    <span>{{ 'contact.form.emailTooltip.tldTooShort' | translate }} <span class="highlight">.de</span>, <span class="highlight">.com</span>&#41;</span>
                  } @else {
                    <span>{{ 'contact.form.emailTooltip.invalid' | translate }} <span class="highlight">info&#64;gmail.com</span></span>
                  }
                </div>
              </div>
            }
    </div>
    </label>
    <hr>
    <label for="message" class="basic-label">{{ 'contact.form.messageLabel' | translate }}
    <textarea #message="ngModel" [(ngModel)]="contactData.message" id="message" name="message"
              [placeholder]="(!message.valid && message.touched) ? ('contact.form.messageError' | translate) : ('contact.form.messagePlaceholder' | translate)"
              [class.error-input]="!message.valid && message.touched"
              required rows="1" cols="50"></textarea>
    </label>
    <hr>
    <label class="checkbox-container" for="data-privacy-checkbox">
      <input (change)="checkboxChanged()" #privacypolicy="ngModel" [(ngModel)]="contactData.privacypolicy" type="checkbox" id="data-privacy-checkbox" name="privacypolicy" required>
      <div class="checkmark"></div>
      <span>{{ 'contact.form.privacyPolicyText' | translate }} <a [routerLink]="'/privacy-policy'" class="privacy-policy-link">{{ 'contact.form.privacyPolicyLink' | translate }}</a> {{ 'contact.form.privacyPolicyAgree' | translate }}</span>
    </label>
    <p>
      @if ((privacypolicy.invalid && (privacypolicy.dirty || privacypolicy.touched)) || checkboxWasCheckedBefore && !contactData.privacypolicy) {
        <span class="alert-text">{{ 'contact.form.privacyRequired' | translate }}</span>
      }
    </p>
    </div>
    <input type="submit" [value]="'contact.form.submitButton' | translate" [disabled]="!contactForm.form.valid">
  </form>
</div>

@if (submissionStatus) {
  <div class="popup-overlay" (click)="closePopup()">
    <div class="popup" [class.success]="submissionStatus === 'success'" [class.error]="submissionStatus === 'error'" (click)="$event.stopPropagation()">
      <div class="popup-header">
        <h3>{{ (submissionStatus === 'success' ? 'contact.popup.successTitle' : 'contact.popup.errorTitle') | translate }}</h3>
      </div>
      <div class="popup-content">
        @if (submissionStatus === 'success') {
          <p>{{ 'contact.popup.successMessage' | translate }}</p>
        } @else {
          <p>{{ 'contact.popup.errorMessage' | translate }}</p>
          <p class="error-details">{{ errorMessage }}</p>
        }
      </div>
      <div class="popup-footer">
        <button (click)="closePopup()">{{ 'contact.popup.closeButton' | translate }}</button>
      </div>
    </div>
  </div>
}
