@import '../../../styles/styles.scss';

#projects {
  .content-width {
    text-align: left;
    >h3 {
      color: $primary-green;
      font-size: 24px;
      font-family: 'Karla';
    }
    >h2 {
      color: $primary-green;
      font-size: 64px;
      font-family: 'Fira Code';
    }
    >p {
      font-size: 18px;
      font-family: 'Karla';
      width: 30%;
      margin: 40px 0;
    }
    table {
      width: 70%;
      border-collapse: collapse;
      tbody {
        tr {
          border-top: 1px solid $primary-green;
          border-bottom: 1px solid $primary-green;
          transition: all 300ms ease;
          cursor: pointer;
          &:hover {
            background-color: #3dcfb72f;
            td:nth-child(1) {
              &::after {
                content: url('../../../assets/img/4-projects/arrow_outward.svg');
              }
            }
          }
          td {
            padding: 40px 32px;
          }
          td:nth-child(1) {
            font-size: 24px;
            font-family: 'Fira Code';
            font-weight: 700;

            .arrow-icon {
              display: inline-block;
              margin-left: 8px;
            }
          }
          td:nth-child(2) {
            text-align: right;
            font-size: 18px;
            font-family: 'Karla';
            font-weight: 400;
            .tech-separator {
              color: $primary-green;
            }
          }
        }
      }
    }
  }
}

.projects-container {
  position: relative;
  .projects-hover-content {
    display: block;
    position: absolute;
    right: 0;
    transition: top 0.3s ease;

    figure {
      background-image: url('../../../assets/img/2-about-me/img-line-background-hover.png');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      img {
        width: 300px;
        height: auto;
        border-radius: 16px;
        transform: translate(-20px, -20px);
        animation: fadeIn 0.3s ease-in-out;
      }
    }
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

// Projekt Modal Styles
.project-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.project-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.project-modal {
  background: linear-gradient(45deg, rgba(28,28,28,1) 40%, rgba(8,70,59,1) 100%);
  border-radius: 24px;
  max-width: 1440px;
  padding: 40px;
  z-index: 1001;
  overflow: hidden;
  animation: modalFadeIn 0.3s ease-in-out;
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.project-modal-content {
  display: flex;
  flex-direction: row;
  padding: 24px;
}

.project-info {
  width: 50%;
  padding-right: 24px;

  .project-number {
    font-size: 128px;
    font-family: 'Karla';
    color: $primary-green;
  }

  .project-title {
    font-size: 64px;
    font-weight: 700;
    font-family: 'Fira Code';
    margin-bottom: 16px;
  }

  .project-description {
    font-size: 24px;
    margin-bottom: 16px;
    font-family: 'Fira Code';
    font-weight: 700;
    color: $primary-green;
  }

  .project-long-description {
    margin-bottom: 16px;
    p {
      font-family: 'Karla';
      font-size: 18px;
      color: #ffffff;
      height: 80px;
      overflow-y: auto;
    }
  }

  .project-technologies {
    margin-bottom: 24px;

    h3 {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 8px;
    }

    .tech-tags {
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
      align-items: center;
      .tech-tag {
        display: flex;
        align-items: center;
        gap: 8px;

        color: darken($primary-green, 10%);
        border-radius: 20px;
        font-size: 14px;
        color: #fff;
      }
    }
  }

  .project-buttons {
    display: flex;
    gap: 16px;

    .btn-primary {
      padding: 8px 16px;
      background-color: $primary-green;
      color: white;
      border-radius: 4px;
      text-decoration: none;
      font-size: 14px;
      transition: background-color 0.3s;

      &:hover {
        background-color: darken($primary-green, 10%);
      }
    }

    .btn-secondary {
      padding: 8px 16px;
      border: 1px solid $primary-green;
      color: $primary-green;
      border-radius: 4px;
      text-decoration: none;
      font-size: 14px;
      transition: background-color 0.3s;

      &:hover {
        background-color: rgba(61, 207, 183, 0.1);
      }
    }
  }
}

.project-image-container {
  width: 50%;
  border-radius: 8px;
  padding: 16px;
  position: relative;

  .close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    cursor: pointer;
    z-index: 10;
    transition: all 0.2s;
    background-color: transparent;
    .close-icon {
      position: relative;
      display: inline-block;
      width: 50px;
      height: 50px;

      &::before,
      &::after {
        content: '';
        position: absolute;
        width: 24px;
        height: 2px;
        background-color: #ffffff;
      }

      &::before {
        transform: rotate(45deg);

      }

      &::after {
        transform: rotate(-45deg);
      }
    }
    &:hover {
      transform: scale(1.2);
    }
  }

  .project-image {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    img {
      width: 100%;
      border-radius: 30px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border: 2px solid rgba(61, 207, 183, 0.3);
    }
  }
}

.project-modal-footer {
  padding: 16px;
  display: flex;
  justify-content: flex-end;

  .next-project-button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    color: $primary-green;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;

    margin-right: 80px;
    position: relative;
    &::after {
      content: url('../../../assets/img/4-projects/next-arrow-icon.svg');
      position: absolute;
      right: -24px;
      top: 0;
      width: 16px;
      height: 24x;
      transition: all 300ms ease;
    }
    &:hover {
      color: #ffffff;
      &::after {
        right: -32px;
      }
    }
  }
}

/* Media Queries */
@media (max-width: 1440px) {
  // .project-modal {
  //   padding: 0;
  //   height: 100vh;
  //   width: 100vw;
  //   .project-modal-content {
  //     width: 100vw;
  //     height: 100vh;
  //     padding: 80px;
  //   }
  // }

  .project-info {
    width: 50%;
    padding-right: 24px;

    .project-number {
      font-size: 64px;
    }

    .project-title {
      font-size: 32px;
    }

    .project-description {
      font-size: 18px;
    }

    .project-long-description {
      margin-bottom: 16px;
      p {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 1200px) {
  #projects {
    .content-width {
      >p {
        width: 100%;
      }
      table {
        width: 100%;
      }
    }
  }

  .project-image-container {
    width: 100%;
  }

  .project-info {
    width: 100%;
  }
}

@media (max-width: 768px) {
  #projects {
    .content-width {
      >h3 {
        font-size: 18px;
      }
      >h2 {
        font-size: 40px;
      }

      table {
        tbody {
          tr {
            td {
              display: block;
              text-align: left !important;
              padding: 16px 0;
            }
          }
        }

      }
    }
  }

  .project-modal {
    padding: 16px;
  }

  .project-modal-content {
    flex-direction: column-reverse;
    justify-content: flex-end;
    padding: 0;
    margin: 16px;
  }
  .project-image-container {
    .project-image {
      img {
        height: auto;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  .project-title {
    font-size: 40px;
  }
}

@media (max-width: 320px) {

}
