<section>
  <div class="content-width">
    <div class="legal-notice-container">
      <h1>{{ 'legalNotice.title' | translate }}</h1>

      <p>Cong Viet Ha Dao<br />
      Ulrichplatz 20<br />
      18273 G&uuml;strow</p>

      <h2>{{ 'legalNotice.contactHeading' | translate }}</h2>
      <p>{{ 'legalNotice.phone' | translate }}: 01745467327<br />
      {{ 'legalNotice.email' | translate }}: kontakt&#64;ha-dao.de</p>

      <p>{{ 'legalNotice.source' | translate }}: <a href="https://www.e-recht24.de/impressum-generator.html" target="_blank">https://www.e-recht24.de/impressum-generator.html</a></p>
    </div>
  </div>
</section>
