<section id="hero-section">
  <div class="content-width">
    <h1>{{ 'hero.h1' | translate }}</h1>
    <span class="name">Ha Dao</span>
    <div class="hero-link-buttons">
      <a [routerLink]="['/']" [fragment]="'projects'" class="link-button animated" [attr.data-text]="'hero.bprojects' | translate">
        <span>{{ 'hero.bprojects' | translate }}</span>
      </a>
      <a [routerLink]="['/']" [fragment]="'contact-me'" class="link-button animated" [attr.data-text]="'hero.bcontact' | translate">
        <span>{{ 'hero.bcontact' | translate }}</span>
      </a>
    </div>
    <div class="left-hero-vertical-content">
      <a href="#about-me"><img src="assets/img/1-hero/scroll-down-default.svg" alt="scrolldown arrow icon" class="bounce-animation"></a>
      <span class="hero-left-line"></span>
    </div>
    <div class="right-hero-vertical-content">
      <a href="mailto:kontakt@ha-dao.de" class="vertical-text link-hover-dot-left email-link">
        <span class="email-text">kontakt&commat;ha-dao.de</span>
        <img src="assets/img/1-hero/mail-icon.svg" alt="Email" class="email-icon">
      </a>
      <a href="https://github.com/ha-dao" target="_blank" class="link-hover-dot-right"><img src="assets/img/1-hero/github-icon.svg" alt="github custom icon"></a>
      <a href="https://www.linkedin.com/in/dao-cong-viet-ha/" target="_blank" class="link-hover-dot-right"><img src="assets/img/1-hero/linkedin-icon.svg" alt="linkedin custom icon"></a>
      <span class="hero-right-line"></span>
    </div>
  </div>
  <app-infinite-banner></app-infinite-banner>
</section>
