<div class="banner-container">
  <div class="banner-scroll" #scrollContainer>
    @for(clone of cloneCount(); track clone) {
      <div class="banner-content">
        <span class="banner-text">{{ 'banner.text1' | translate }}</span>
        <span class="banner-dot"></span>
        <span class="banner-text">{{ 'banner.text2' | translate }}</span>
        <span class="banner-dot"></span>
        <span class="banner-text">{{ 'banner.text3' | translate }}</span>
        <span class="banner-dot"></span>
        <span class="banner-text">{{ 'banner.text4' | translate }}</span>
        <span class="banner-dot"></span>
      </div>
    }
  </div>
</div>
